@import url(http://fonts.googleapis.com/css?family=Arvo);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

// body {
//     background: blue;
// }

a {
    text-decoration: none;
}

.one-page-container {
    width: 100%;
    height: 100%;
    p {
        font-family: 'Arvo', serif;
        font-size: 2em;
        text-align: center;
        color: black;
        margin-bottom: 3em;
        margin-top: 1.4em;
    }
}

.hero {
    width: 100%;
}

.small-logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    padding: 20px;
    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear,opacity 0.5s linear;
    z-index: 999;
    background: rgba( 255, 255, 255, 0.7 );
}

.navbar {
    text-decoration: none;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba( 255, 255, 255, 0.7 );
    width: 75%;
    color: black;
    transition:visibility 0s linear,opacity 0.5s linear;
    font-family: 'Arvo', serif;
    li {
        list-style: none;
        float: right;
        width: 20%;
        text-align: center;
        font-size: 1.5em;
        a {
            color: black;
            display: inline-block;
            width: 100%;
            padding: 20px;
            &:hover {
                background: black;
                color: white;
            }
        }
    }
}


.row-elem{
    width: 50%;
    float: left;
    font-family: 'Arvo', serif;
    font-size: 2em;
    text-align: center;
    color: black;
    transition:visibility 0s linear,opacity 0.5s linear;
    &:hover {
        background: black;
        color: white;
    }

}
.top-left {
    margin-top: 5%;
    padding-left: 120px;
}

.top-right {
    padding-right: 120px;
    margin-top: 5%;
}

.bottom-left {
    margin-top: 10%;
    margin-bottom: 400px;
    padding-left: 120px;
}

.bottom-right {
    padding-right: 120px;
    margin-top: 10%;
    margin-bottom: 400px;
}

.bottom-image {
    height: 400px;
    display: block;
    margin: auto;
}
