<!DOCTYPE html>
<!--

    author:         arthurKN (2015)
    checkit:		http://github.com/distrill

-->
<html>
    <head>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="css/stylesheet.css"/>
        <title>Looking Glass Design</title>
    </head>
    <body>
        <div class="one-page-container">
            <img src="/img/lookingGlass.svg" id="hero" class="hero">
            <img src="/img/lookingGlass.svg" id="small-logo" class="small-logo">
            <nav id="navbar" class="navbar">
                <ul>
                    <li>
                        <a href="#">our mission</a>
                    </li>
                    <li>
                        <a href="#">ask us</a>
                    </li>
                    <li>
                        <a href="#">our work</a>
                    </li>
                    <li>
                        <a href="#">contact</a>
                    </li>
                </ul>
            </nav>
            <div class="row">
                <a href="#">
                    <div id="one" class="row-elem top-left">
                    our mission
                    </div>
                </a>
                <a href="#">
                    <div id="two" class="row-elem top-right">
                    ask us
                    </div>
                </a>
            </div>
            <div class="row">
                <a href="#">
                    <div id="three" class="row-elem bottom-left">
                    our work
                    </div>
                </a>
                <a href="#">
                    <div id="four" class="row-elem bottom-right">
                    contact
                    </div>
                </a>
            </div>
        <!-- </div>
        <div class="one-page-container"> -->
			<img src="/img/claybear.png" class="bottom-image">
			<p>under construction</p>
        </div>
        <script src="/js/main.js"></script>
    </body>
</html>
